<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>4TStore - Admin Dashboard</title>

        <link rel="stylesheet" href="/admin/css/simplebar.css" />
        <link
            href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/admin/css/feather.css" />
        <link rel="stylesheet" href="/admin/css/dataTables.bootstrap4.css" />
        <link rel="stylesheet" href="/admin/css/daterangepicker.css" />
        <link
            rel="stylesheet"
            href="/admin/css/app-light.css"
            id="lightTheme"
        />

        <%- style %>
    </head>
    <body class="vertical light">
        <div class="wrapper">
            <%- include('../layouts/header') %> <%-
            include('../layouts/sidebar') %>
            <main role="main" class="main-content"><%- body %></main>
        </div>

        <%- include('../layouts/footer') %>

        <script src="/admin/js/jquery.min.js"></script>
        <script src="/admin/js/popper.min.js"></script>
        <script src="/admin/js/moment.min.js"></script>
        <script src="/admin/js/bootstrap.min.js"></script>
        <script src="/admin/js/simplebar.min.js"></script>
        <script src="/admin/js/daterangepicker.js"></script>
        <script src="/admin/js/jquery.stickOnScroll.js"></script>
        <script src="/admin/js/tinycolor-min.js"></script>
        <script src="/admin/js/config.js"></script>
        <script src="/admin/js/jquery.dataTables.min.js"></script>
        <script src="/admin/js/dataTables.bootstrap4.min.js"></script>
        <script src="/admin/js/apps.js"></script>

        <%- script %>
    </body>
</html>
